.inputLabel {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputWrapper input {
  --input-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 3%);
  display: inline-flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.055);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.075), var(--input-shadow);
  border-radius: 0.625rem;
  color: #fff;
  vertical-align: baseline;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0 0.625rem;
  width: 100%;
  height: 2rem;
  transition: box-shadow 200ms;
}
.inputWrapper input.medium {
  border-radius: 0.75rem;
  height: 2.5rem;
}
.inputWrapper input:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), var(--input-shadow);
}
.inputWrapper input:focus {
  box-shadow: inset 0 0 0 1px #207fd6;
}
.inputWrapper input::-moz-placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}
.inputWrapper input::placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}
.inputWrapper input.error {
  box-shadow: inset 0 0 0 1px #ed4e4f;
}

.inputLabelText {
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.helperText {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.inputError {
  color: #ed4e4f;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}