.OverviewSectionCard {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  height: 190px;
}

.cardHeader {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.875rem;
  width: 100%;
}
.cardHeader .headerTitle {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.031rem;
  line-height: 2rem;
}
.cardHeader .headerAction {
  color: #1676fe;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #1E1E1E;
  border-radius: 1.375rem;
  padding: 1.125rem;
  width: 100%;
  height: 100%;
}