@charset "UTF-8";
.Note {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1280px) {
  .Note {
    width: 1000px;
  }
}
.Note .noteActions {
  position: relative;
  display: inline-flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding-bottom: 0.875rem;
  padding-top: 5rem;
  left: -0.5rem;
}
.Note .noteActions button {
  padding: 0;
  background: transparent;
}
.Note .noteActions .actionBtn {
  cursor: pointer;
  color: #666;
  border-radius: 10px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  padding: 0 0.5rem;
  height: 2rem;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.Note .noteActions .actionBtn:hover {
  background-color: rgba(255, 255, 255, 0.12);
  color: #fff;
}
.Note .noteActions .actionBtn:nth-child(2):hover {
  background-color: rgba(60, 119, 246, 0.12);
  color: #3C77F6;
}
.Note .noteActions .actionBtn:last-child:hover {
  background-color: rgba(252, 67, 57, 0.12);
  color: #FC4439;
}
.Note .notaHeader {
  display: inline-flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  width: 100%;
}
.Note .NoteEmoji {
  position: relative;
  display: flex;
}
.Note .NoteEmoji .noteEmojiPickerBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
}
.Note .NoteEmoji .emojiMenu {
  position: absolute;
  border-radius: 1rem;
  background-color: #232323;
  border: none;
  inset: 0;
  top: 100%;
  left: 0;
  z-index: 1;
}
.Note .NoteTitle {
  position: relative;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem; /* 125% */
  letter-spacing: -0.03125rem;
  text-align: left;
  caret-color: #fff;
  width: 100%;
}
.Note .NoteTitle:focus {
  outline: none;
}
.Note .NoteTitle:hover {
  cursor: text;
}
.Note .NoteTitle.hasText::after {
  display: none;
}
.Note .NoteTitle::after {
  opacity: 0.2;
  position: absolute;
  content: "Título";
  inset: 0;
  color: #fff;
}
.Note .NoteDescription {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  text-align: left;
  caret-color: #fff;
  margin-top: 1rem;
  height: 100%;
}
.Note .NoteDescription:focus {
  outline: none;
}
.Note .NoteDescription:hover {
  cursor: text;
}
.Note .NoteDescription.hasText::after {
  display: none;
}
.Note .NoteDescription::after {
  opacity: 0.2;
  position: absolute;
  content: "Escribe aquí...";
  inset: 0;
  color: #fff;
}